@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text: #222222;
        --color-background: #f4f9fb;

        --color-effect--1: #ff52e8;
        --color-effect--2: #52f1ff;
        --color-orange: #f14e32;
    }
    
    .dark {
        --color-text: #f4f9fb;
        --color-background: blue;
    }
    
}